@import "./components/alert.css";
@import "./components/avatar.css";
@import "./components/badge.css";
@import "./components/button.css";
@import "./components/card.css";
@import "./components/image.css";
@import "./components/input.css";
@import "./components/text.css";
@import "./components/navbar.css";
@import "./components/modal.css";
@import "./components/rating.css";
@import "./components/slider.css";
@import "./docs.css";
@import "./landingpage.css";
@import "./shared/shared.css";
@import "./Designsystem/layout.css";
@import "./Designsystem/shared2.css";
@import "./Designsystem/spacing-design.css";
@import "./Designsystem/typography.css";

:root {
	--primary-color: #831843;
	--secondary-color: #ebecf0;
	--teritiary-color: #d0d4d7;
	--button-primary-color: #0d6efd;
	--button-secondary-color: #6c757d;
	--button-success-color: #198754;
	--button-danger-color: #dc3545;
	--button-warning-color: #ffc107;
	--button-info-color: #0dcaf0;
	--card-bg-color: #000000;
	--status-active-color: #00ff00;
	--status-offline-color: #ff0000;
	--status-away-color: #313531ea;
	--input-sc: #00ff00;
	--input-erc: #ff0000;
	--text-sc: #00ff00;
	--text-erc: #ff0000;
	--usage-button-hv: #d3d3d3;

	/* Tint and shades Black */

	--black-t1: #000000;
	--black-t2: #1a1a1a;
	--black-t3: #333333;
	--black-t4: #4d4d4d;

	--black-s1: #999999;
	--black-s2: #b3b3b3;
	--black-s3: #cccccc;
	--black-s4: #e6e6e6;
	--black-s5: #fff;

	/* Tint and shades Crimson */
	--crimson-t1: #270714;
	--crimson-t2: #420c22;
	--crimson-t3: #4f0e28;
	--crimson-t4: #691336;

	--crimson-s1: #8f2f56;
	--crimson-s2: #a85d7b;
	--crimson-s3: #b5748e;
	--crimson-s4: #cda3b4;
	--crimson-s5: #e6d1d9;
}
