.hz--card-container {
	display: flex;
	background-color: var(--teritiary-color);
	width: 60rem;
	margin: 0 auto;
	gap: 2rem;
	border-radius: 5px;
}

.hz--card-img-box {
	width: 30%;
}

.hz--card-img-box img {
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.hz--card-text-box {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.product-name {
	font-size: 1.8rem;
	margin-top: 0.8rem;
}

.hz--card-btn-box {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.card-cta-btn {
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	font-size: 1.4rem;
}
.primary-cta--card {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.secondary-cta--card {
	background-color: var(--secondary-color);
	color: black;
}

/***********************/
/***Vertical card ***/
/***********************/

.vt--card-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--teritiary-color);
	width: 30rem;
	height: 60rem;
	margin: 1rem auto;
	gap: 2rem;
	border-radius: 5px;
	position: relative;
}
.vt--card-img-box {
	width: 80%;
	margin: 0 auto;
}
.vt--card-img-box img {
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.vt--card-text-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.vt--product-name {
	font-size: 1.2rem;
}

.vt--product-description {
	font-size: 2.2rem;
}

.vt--card-cta-btn {
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	font-size: 1.4rem;
}

.vt--card-btn-box {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.vt--product-price {
	font-weight: 200;
	font-size: 2.2rem;
}

.dismiss-icon {
	position: absolute;
	top: 0;
	color: var(--primary-color);
}

.card-shadow {
	box-shadow: 2px 3px 10px var(--teritiary-color);
}

.card--badge {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--teritiary-color);
	width: 300px;
	height: 600px;
	margin: 0 auto;
	gap: 2rem;
	border-radius: 5px;
	position: relative;
}

.badge-icon {
	position: absolute;
	top: 20px;
	left: 30px;
	font-size: 0.4em;
	background-color: var(--primary-color);
	border-radius: 5px;
	color: var(--secondary-color);
	padding: 0.2rem 0.4rem;
}

/**************************/
/***Card with overlay ***/
/***********************/

.card--overlay {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--teritiary-color);
	width: 300px;
	height: auto;
	margin: 0 auto;
	border-radius: 5px;
	position: relative;
}

.card--overlay-imgbox {
	height: 100%;
}
.card--overlay-imgbox img {
	display: block;
	width: 100%;
	background-color: var(--card-bg-color);
}

.overlay-text {
	position: absolute;
	top: 200px;
	width: 80%;
	border-radius: 5px;
	padding: 1.2rem 0.9rem;
	left: 90;
	color: var(--primary-color);
	background-color: rgba(0, 0, 0, 0.4);
}

/***********************/
/***text only cards ***/
/***********************/

.card--text-only {
	border: 2px solid var(--teritiary-color);
	background-color: var(--primary-color);
	color: var(--secondary-color);
	width: 50%;
	margin: 0 auto;
	padding: 2.4rem 1.6rem;
	display: block;
	font-size: 1.8rem;
	border-radius: 5px;
}

.card--text-only-cta {
	color: var(--primary-color);
	padding: 1.2rem;
	background-color: var(--secondary-color);
}
