.modal-container {
	background-color: var(--primary-color);
	width: 60rem;
	height: 30rem;
	position: relative;
	border-radius: 5px;
	margin: 0 auto;
}

.modal-bg {
	background-color: rgba(131, 24, 67, 0.4);
	margin: 0 auto;
	width: 80rem;
	height: 40rem;
}
.modal-title {
	background-color: var(--secondary-color);
}

.modal-text {
	color: var(--secondary-color);
	font-size: 2.4rem;
	text-align: center;
	margin-top: 2.4rem;
}
.modal-icon {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.3rem;
}
